.btn {
  width: 100%;
  background-color: transparent;
  border: 2px solid #bbb;
  border-radius: 7px;
  padding: 20px 0;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin: 10px 0;
  transition: 200ms all ease-in-out;
}

.btn:hover {
  background-color: #bbb;
  color: black;
}
