main {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.empty{
  margin-top: 10em;
  width: 33em;
  height: 20px;
}


@media screen and (max-width: 1400px) {
  main {
    flex-direction: column;
  }

  .empty {
    display: none;
  }
}